.filter {
    text-align: left;
    align-content: space-around;
    margin-bottom: 1em;
}

.filter-lang {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.filter-search {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.button-language {
    background-color: black;
}

.table-head {
    padding: 0.5em 1em;
    user-select: none;
    /* border: 1px solid #888; */

}

.table-head[type="name"] {
    border-bottom: 1px solid #242424;
}

.table-head[type="easy"] {
    color: white;
    background-color: #88dd43;
}

.table-head[type="normal"] {
    color: white;
    background-color: #02bbde;
}

.table-head[type="hard"] {
    color: white;
    background-color: #ff9903;
}

.table-head[type="expert"] {
    color: white;
    background-color: #ee1267;
}

.table-head[type="master"] {
    color: white;
    background-color: #884498;
}

.table-head[type="append"] {
    color: white;
    background: linear-gradient(to right, #8d84e5, #e272ac);
}

.song-cover {
    width: 4em;
    height: 4em;
    object-fit: cover;
}